body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}